.App {
    text-align: center;
    background-image: linear-gradient(to bottom right, #f5f5f52e, #424242);
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(7px + 2vmin);
    color: white;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {

    text-align: center;
    font-size: calc(7px + 2vmin);
    color: #555;
    border-bottom: 1px solid #ddd;
}

form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    /* Pour voir les limites du formulaire */
    padding: 1em;
}



@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.App a {
    text-decoration: none;
}

.App a {
    text-decoration: none;
}

.game-rules {
    font-size: 30px;
    margin: 10px 0;
    font-weight: bold;
}

/* CHESSBOARD CSS */
.square {
    width: 60px;
    height: 60px;
}
@media only screen and (max-width: 500px) {
    .square {
        width: 30px;
        height: 30px;
    }
    .square img {
        width: 25px;
    }
}
.square.dark{
    background-color: #555;
}
    
.square.light{
    background-color: white;
}
.square.allowed, .square.allowed {
    background-color: rgba(110, 179, 141, 0.459);
}
.square.selected {
    background-color: rgba(174, 252, 209, 0.671);
}
.score {
    width: 100%;
}
.score p:first-child {
    float: left;
    margin-left: 23%;
}
@media only screen and (max-width: 500px) {
    .score p:first-child {
        margin-left: 20%;
    }
}

/* STATS CSS */
.listStats{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h5{
    color: #993300;
}


